<%= form_with(model: @room, remote: true, data: {controller: "rest-form", action: "turbo:submit-end->rest-form#reset"}, class: "bg-white p-6 rounded-lg shadow-md flex flex-col h-full") do |f| %>
  <!-- Room Name Input -->
  <div class="flex flex-col mb-4">
    <%= f.label :name, class: "block text-gray-700 font-medium" %>
    <%= f.text_field :name, class: "mt-1 p-2 border border-gray-300 rounded-md shadow-sm w-full focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>
  
  <!-- Submit Button -->
  <div class="mt-auto">
    <%= f.submit "Submit", class: "bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
  </div>
<% end %>
