<% records.each do |record| %>
  <div id="<%= dom_id(record) %>">
    <span>
      <% if record.respond_to?(:name) && record.name.present? %>
        <%= link_to record.name, room_path(record) %>
      <% elsif record.respond_to?(:email) && record.email.present? %>
        <%= link_to record.email, users_path(record)%>
      <% else %>
        <em>Unknown</em>
      <% end %>
    </span>
  </div>
<% end %>