<%= form_with(model: @room, remote: true, class: "bg-white p-6 rounded-lg shadow-md") do |f| %>
  <div class="flex items-center space-x-4 p-2">
    <!-- Room Name Input -->
    <div class="flex-1">
      <%= f.label :name, class: "block text-gray-700 font-medium" %>
      <%= f.text_field :name, class: "mt-1 p-2 border border-gray-300 rounded-md shadow-sm w-full focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>
    
    <!-- Submit Button -->
    <div>
      <%= f.submit "Submit", class: "bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
    </div>
  </div>
<% end %>
